body{
    background:black;
}
a{
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar{
    
}

.topNavBar>nav>ul>li{
    float: left;
    text-decoration: none;
    margin-left: 17px;
    margin-right: 17px;

}
.topNavBar>nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
   
}

.topNavBar>nav>ul>li>a{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.701961);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: block;
}

.topNavBar>nav>ul>li>a:hover{
    border-bottom: 3px solid #E86767;
}

.topNavBar>nav{
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
}

.topNavBar .logo{
    font-size: 22px;
    font-family: "Hiragino Kaku Gothic Std";
    padding-top: 4px;

    float: left;
}

.logo .RS{
    color: #e6686a;
    margin-right: 4px;
}

.logo .rscard{
    color: #9A9DA2;
}

