.clearfix::after { content: ''; display: block; clear: both;}
body { background: #efefef; margin: 0px; /*color: white;*/}
a { text-decoration: none; color: inherit;}
* { margin:0px; padding:0px; }
ul,ol,li { list-style: none;}
h1,h2,h3,h4,h5,h6 { font-weight: normal;}



[data-x].offset {
    transform: translateY(100px);
}

[data-x] {
    transition: all .5S;
}



.topNavBar { padding: 17px 0 17px 0; position: fixed;  top: 0;  left: 0;  width:100%; 
   color: rgba(255, 255, 255, 0.701961); transition: all 0.5s;}
.topNavBar.stick {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.55);
    color: #3D4451;
    z-index: 1;
    padding: 12px 0;
}
.topNavBar-inner { padding: 0 16px;}
.topNavBar .logo { float:left; font-family: "Arial Black"; font-size: 22px; padding:5px 0 4px 0;}
.topNavBar .logo .rs { color: #e6686a; margin-right: 4px;}
.topNavBar .logo .card { color: #9A9DA2;}
.topNavBar nav { float:right; padding-top: 8px;}
.topNavBar nav>ul { margin:0px; padding:0px;}
.topNavBar nav>ul>li { float: left; margin-left: 15px; margin-right: 15px; position: relative;}
.topNavBar nav>ul>li>a { color: inherit; font-size: 13px; font-weight: bold; position: relative;
   border-bottom: 3px solid transparent; border-top: 3px solid transparent; display: block;}
.topNavBar nav>ul>li.active>a::after { content: ''; display:block; background: #E86767; width: 100%; height: 3px;
   position: absolute; top: 100%; left: 0; animation: menuSlide .3s;}
.topNavBar nav>ul>li.hightlight>a::after { content: ''; display:block; background: #E86767; width: 100%; height: 3px;
   position: absolute; top: 100%; left: 0; animation: menuSlide .3s;}

@keyframes menuSlide{ 0% {width: 0;} 100%{width: 100%;} }

.topNavBar .submenu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0;
    background: white;
    color: #3d4451;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.topNavBar .submenu>li{
    white-space: nowrap;
    padding: 5px 10px;
}

.topNavBar li.active> .submenu {
    display: block;
    animation: submenuSlide .3S;
}

@keyframes submenuSlide{
    0%{ margin-right: 100%;}
    100%{ margin-right: 0%;}
}

.banner {
    height:515px;
    background-image:url(./img/1.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height:515px;
    background: rgba(0, 0, 0, 0.8);
}

main .card {
    border:1px solid #CDCDCD;
    max-width: 940px;
    margin-left: auto;
    margin-right:auto;
    background: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.card .welcome {
    color: #FDEFEF;
    background: #E86767;
    font-family:'Open Sans';
    font-size:14px;
    padding-left:13px;
    padding-right:13px;
    padding-top:6px;
    padding-bottom:6px;
    /*padding:6px,13px,6px,13px;*/
    line-height:18px;
    display:inline-block;
    position:relative;
    
}


.card .welcome .Triangle {
    /*三角形*/
    border: 10px solid transparent;
    border-top: 0px solid transparent;
    border-left:10px solid #E86767;
    border-right:10px solid transparent;
    width:0px;
    height:0px;
    display:block;
    position:absolute;
    top:100%;
    left:6px;
}

.card .summary .picter {
    float:left;
}

.card .summary .text {
    float:left;
    margin-left:65px;
    width:470px;
}

.card .summary {
    padding:50px;
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 6%,#ededed 66%,#ededed 87%,#ffffff 100%);
}

.text h1 {
    padding-top:26px;
    padding-bottom:8px;
    color:#3D4451;
}

.text p {
    padding-bottom:24px;
    color:#43495B;
}

.text hr {
    height:0px;
    border:none;
    border-top:1px solid #DEDEDE;
    margin-bottom:11px;
}

.text dl dt {
    float:left;
    width:28%;
    color:#333333;
    font-family:'Open Sans';
    font-size: 12px;
    font-weight: bold;
    padding-top:14px;
}

.text dl dd {
    float:left;
    width:72%;
    color:#9da0a7;
    font-family:'Open Sans';
    font-size: 15px;
    padding-top:14px;
}


.card footer {
    background-color:#E86767; 
    
}

.media .icon {
    width:30px;
    fill: white;
    height:30px;
    vertical-align:top;
    
}

.media a {
    display:inline-block;
    border-radius:50%;
   /*  height:40px;*/
    width:40px;
    line-height:30px;
    padding-top:5px;
    padding-bottom:5px; 
    margin: 19px 24px 19px 24px;
}

.media a:hover {
    background-color: #D05D5D;
}

.media {
    text-align: center;
    margin-top:-15px;
}

/*第三次*/
main {
    margin-top:-348px;
}

p .download {
    display: inline-block;
    font-size: 15px;
    color:rgb(61, 68, 81);
    font-family: "Open Sans";
    line-height:17px;
    padding:21px 55px 21px 55px;
    border:1px solid #CBCDCF;
    border-radius:3%;
    margin-top:35px;
    margin-bottom:35px;
    text-align: center;

}

p .download:hover {
    font-weight:bold;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition:box-shadow 0.35s;
}
.download-wrapper {
    text-align: center;
}

.introduce {
    background: linear-gradient(to right, #f4f4f4 0%,#e2e2e2 28%,#e8e8e8 72%,#f7f7f7 100%);
    font-size:18px;
    font-family: "楷体";
    max-width: 940px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    line-height: 28px;
}


.skill-List,
.Sample {
    max-width: 940px;
    margin-left: auto;
    margin-right:auto;
    margin-top:71px;
}

.skill-List h2,
.Sample h2 {
    text-align: center;
    font-family: "Open Sans";
    color: rgb(61, 68, 81);
    font-size: 34px;
    font-weight: lighter;
    line-height: 1.2;
    margin-bottom:26px;
}
.skill-List ol {
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.4);
    background-color:#ffffff;
    padding: 43px 21px 13px 51px;
}
/*不使用伪类又想左右对称可以加border后量距离减少一定ol右margin即可（原51）。另一种方法是加伪类，306条*/

.skill-List ol li {
    float:left;
    width:50%;
    box-sizing: border-box;
    padding-right: 30px;
    /*border:1px solid red;*/
}
/* 3种方法实现技能条。其中一条是可以在div里面在嵌套或者伪类的方式，不过要改动比较多，需要一开始就这样写，麻烦。但思路可行
    1.加子div。2.box-sizing。3.最外层嵌套一个div修改背景色为透明，里面2个div写法不变。*/

   /* .skill-List ol li:nth-child(even){
        float:right;
        
    }li里要修改width，padding就不需要了。单数修改是odd。
   */

    .skill-List ol li .ProgressBar {
    background-color: #FBE0E0;
    height:5px;
    margin-bottom:37px;
    border-radius:2px;
}

.skill-List ol li .ProgressBar .Progress {
    height:100%;
    background-color:#E86767;
    width:70%;
    border-radius:2px;
}

.skill-List li h3 {
    line-height: 1.1;
    padding-right:40px;
    font-size: 14px;
    margin-bottom:5px;
    color: #3F3F3F}

.Sample {
    text-align: center;
}

.Sample nav {
    display: inline-block;
    vertical-align: top;
}


.Sample nav ol {
    display: inline-block;
    vertical-align: top;
}


.Sample nav ol li {
    float:left;
    margin-left:48px;
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(61, 68, 81);
    font-weight:600;
    cursor: pointer;

}

.Sample nav ol li:nth-child(1) {
    margin-left:0px
}

.SampleBar {
    background-color:  #FFFFFF;
    height: 7px;
    width:100%;
    border-radius: 2px;
    margin-top:7px;
    margin-bottom: 38px;
}

.SampleBar .SampleBar-inner {
    background-color: #E86767;
    height: 7px;
    width:38px;
    border-radius: 2px;
    transition: all 0.3s;
}

.SampleBar.state-1 .SampleBar-inner {
    margin-left:0px;
}

.SampleBar.state-2 .SampleBar-inner {
    margin-left:83px;
    width:30px;
}

.SampleBar.state-3 .SampleBar-inner {
    margin-left:160px;
    width:40px;
}

section.Sample .works {
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 38px;
}


section.Sample .works > .big {
    position: absolute;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);


}

section.Sample .works > .small1 {
    position: absolute;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}



section.Sample .works > .small2 {
    position: absolute;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
